<h1 id="Hello%20world%20Lua%20Server">Hello world Lua Server</h1>

<p>Everything is ok.
Everything will be ok.</p>

<p>I need to create a repo for this.</p>

<p>Please visit: dumpnull.xyz</p>

<a href="differentpage.html">Go to different page</a><br>
<a href="intest.html">Test interpreter</a>
